<template name="list">
    {{#content title="全部订单" mainTitle="订单管理" listNum=listNum }}
    <div class="row">
        <div class="col-md-12">
        {{#source_boxTemplate title="全部订单"}}
            {{> list_partial }}
        {{/source_boxTemplate}}
        </div>
    </div>
    {{/content}}

    {{> orderRemark}}
</template>

<template name="list_partial">
    <input type="hidden" id="allPageSize" value="340">   <!-- 页面总记录数 -->
    <input type="hidden" id="pageNum" value="1">         <!-- 当前页码 -->
    <input type="hidden" id="worksTypeId" value="1">      <!-- 分组id -->
    <div id="pageNumberUpAndDown">
       <!-- 此处为分页开始 -->
    </div>
    {{> ReactiveDatatable tableData=orderlistData options=optionsObject }}
    {{> navPaging }}
    <div>
      {{> datetime }}
    </div>
</template>


<template name="navPaging">
  <nav>
    <ul class="pagination pull-right">
      <li>
        <a href="" aria-label="Previous" class="previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

       {{> tablePaging}}
      <li>
        <a href="#" aria-label="Next" class="next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</template>

<template name="tablePaging">
  <li><a href="/table?page=1&&num=10">1</a></li>
</template>