<template name="list">
    {{#content title="全部订单" mainTitle="订单管理" listNum=listNum }}
    <div class="row">
        <div class="col-md-12">       
        {{#source_boxTemplate title="全部订单"}}
            {{> list_partial }}
        {{/source_boxTemplate}}
        </div>
    </div>    
    {{/content}}
</template>


<!-- <template name="list_partial">
<table class="table table-striped">
    <tbody>
        <tr>
            <td class="active">orderId</td>
            <td class="active">username</td>
            <td class="active">收货人</td>
        </tr>
        {{#each ordersLists}}
        <tr>
            <td class="active">{{orderId}}</td>
            <td class="active">{{username}}</td>
            <td class="active">{{receiverName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{> pagesNav}}
</template>
 -->


<template name="list_partial">
    {{> ReactiveDatatable tableData=orderlistData options=optionsObject }}
    <div>
      {{> datetime }}
    </div>  
</template>
